<div class="temp" style="display: grid;grid-template-columns: repeat(3,1fr);">
    <ng-container *ngFor="let a of appService.data.cart">
       <div>
        <span style="display: block;">
          Name:     {{a.name.split('.')[0]}}
        </span>
    <span style="display: block;"> Quantity: {{a.quantity}} </span>
<span style="display: block;">     Price:    {{a.price}} </span>
<span style="display: block;"> <img [src]="a.source" style="width: 100px;height: 100px;"> </span>
        </div>
    </ng-container>
</div>
<div style="display: flex; justify-content: center;align-items: center;">
    Total:{{appService.data.cartPrice | price}}
   </div>
<div style="display: grid;justify-content: center;gap:10px">
    <input [(ngModel)]="upi" placeholder="please enter upi here eg:'@upi">
    <button (click)="buy()" >
        Buy
    </button>
    <button (click)="saveForLater()">
        Save for later
    </button>
   
</div>