<div style="display: flex;flex-wrap: wrap;">
    <ng-container *ngFor="let a of appService.data.cart">
        <pre>
          Name:     {{a.name.split('.')[0]}}
          Quantity: {{a.quantity}}
          Price:    {{a.price}}
          <img [src]="a.source" style="width: 100px;height: 100px;">
</pre>
    </ng-container>
</div>
<div style="display: flex; justify-content: center;align-items: center;">
    Total:{{appService.data.cartPrice | price}}
   </div>
<div style="display: grid;justify-content: center;gap:10px">
    <input [(ngModel)]="upi" placeholder="please enter upi here eg:'@upi">
    <button (click)="buy()" >
        Buy
    </button>
    <button (click)="saveForLater()">
        saveForLater
    </button>
   
</div>