<div class="mainDiv" style="padding: 8px 35px 15px 13px">
  <label>FilterBy:</label>

<select style="margin-right: 10px;" (change)="filter(sel.value)" #sel>
  <option value="">None</option>
  <option value="Vegetable">Vegetable</option>
  <option value="Fruits">Fruits</option>
 
</select>

<label>search by name:</label>
<input (input)="filter(sel.value)" style="width: 5em;" [(ngModel)]="va">
</div>

  <div style="display: grid;grid-template-columns: repeat(3,1fr);grid-row-gap: 20px;">

   <div  *ngFor="let item of temp"  style="display: grid;justify-content: center;">
       <label class='itemList' bg>{{item.name.split('.')[0]}}</label> 
    <label class='itemList' style="text-decoration: line-through;" bg> Price: {{item.price +5 |price}} </label>
     <label class='itemList' bg >  offer Price: {{item.price}}₹</label>
     
        <label class='itemList' bg>     Available:{{item.quantity}}  </label>
        <img  bg style="width: 114px ;height: 100px;;" [src]='item.source' alt="abhi">
        <br>
        <span>
        <button mat-raised-button (click)="addToCart(item,'dec')" bg>-</button><button mat-raised-button (click)="addToCart(item,'inc')" bg>+</button>
      </span></div>
  </div>